@font-face {
	font-family:Tittle;
	src:url(fonts/ANODETONOONE.TTF);
}

h1 {
	font-family:Tittle;
	font-size:40px;
	color:#603A03;
}

body {
	background-image:url(images/background.jpg);
}

#container{
	width:950px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}


#gameBackground {
	width:950px;
	height:630px;
	background-image:url(images/gameBackground.jpg);
	border-color:#FFF;
	border-style:solid;
}

#player {
	width:256px;
	height:66px;
	position:absolute;
	left:8px;
	top:179px;
    background-image:url(images/helicopter.png);

}

#enemyOne {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(images/enemyOne.png);
	
}

#enemyTwo {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(images/enemyTwo.png);
}

#friend {
	width: 44px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(images/friend.png);
}

#init {
	width:350px;
	height:250px;
	background-color:#FFF;
 	margin-left:auto;
    margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}